#===============================================================================
# Load environment variables
#===============================================================================
[ -f ~/.config/zsh/.env ] && source ~/.config/zsh/.env
# Used for machine specific variables, this is not checked in to git
[ -f ~/.config/zsh/.spec_env ] && source ~/.config/zsh/.spec_env 

#===============================================================================
# Load secrets
#===============================================================================
[ -f ~/.config/zsh/.secrets ] && source ~/.config/zsh/.secrets

#===============================================================================
# Load package managers (nvm, pnpm, bun, etc)
# ==============================================================================
[ -f ~/.config/zsh/.package_managers ] && source ~/.config/zsh/.package_managers

#===============================================================================
# Load oh-my-zsh configuration and executable
#===============================================================================
[ -f ~/.config/zsh/.conf ] && source ~/.config/zsh/.conf
[ -f $ZSH/oh-my-zsh.sh ] && source $ZSH/oh-my-zsh.sh

#===============================================================================
# Load plugins (zoxide, fzf, etc)
# ==============================================================================
[ -f ~/.config/zsh/.plugins ] && source ~/.config/zsh/.plugins

#===============================================================================
# Load custom scripts
# ==============================================================================
[ -f ~/.config/scripts/docker.sh ] && source ~/.config/scripts/docker.sh
[ -f ~/.config/scripts/fzf.sh ] && source ~/.config/scripts/fzf.sh
[ -f ~/.config/scripts/homebrew.sh ] && source ~/.config/scripts/homebrew.sh

#===============================================================================
# Load custom aliases
#===============================================================================
[ -f ~/.config/aliases/.fzf ] && source ~/.config/aliases/.fzf
[ -f ~/.config/aliases/.terraform ] && source ~/.config/aliases/.terraform
[ -f ~/.config/aliases/.lsd ] && source ~/.config/aliases/.lsd
[ -f ~/.config/aliases/.zoxide ] && source ~/.config/aliases/.zoxide
[ -f ~/.config/aliases/.kill ] && source ~/.config/aliases/.kill

#==============================================================================
# Load oh-my-posh
#==============================================================================
if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config ~/.config/posh/dracula.omp.json)"
fi

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
